<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14550337107-a01l8f6hi36cirprj7ktlgil89secc79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14550337107-a01l8f6hi36cirprj7ktlgil89secc79</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>14550337107-a8u45tkh6iimmcc7m8eog42q4s0hi19l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDg7VL3GWSyor0cwJxgcYncMPvnLvfe7UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>14550337107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.moksha</string>
	<key>PROJECT_ID</key>
	<string>moksha-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>moksha-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14550337107:ios:4e6ce51818d35f0a51a8a6</string>
	<key>DATABASE_URL</key>
	<string>https://moksha-beta.firebaseio.com</string>
</dict>
</plist>